.custom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  position: relative;
  gap: 2rem;
  width: 900px;
  margin-top: 4rem;

  &__input {
    &--error {
      //background-color: rgb(255, 195, 188);
      border-color: rgba(205, 70, 49, 1);
    }

    &--required {
      color: rgba(205, 70, 49, 1);
    }
  }

  &__text-area{
    height: 165px;
    resize: none;
    padding: 20px;

    &::placeholder {
      font-size: 16px;
      color: rgba(77, 77, 77, 1);
    }
  }

  &__block-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
  }

  &__line{
    height: 1px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    background-color: rgba(77, 77, 77, 1);
  }

  &__stars {
    position: absolute;
    width: 6rem;
    right: -16rem;
    top: 0;
  }

  &__spring{
    position: absolute;
    width: 12rem;
    left: -23rem;
    bottom: -4rem;
  }
}


