.rectangle {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 2em;

    &__square {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
        width: 280px;
        border: 2px solid black;
        background-color: #ffffff;
        border-radius: 8px;
        word-break: break-word;
        padding: 1.5rem;

        &--orange {
            background-color: rgba(247, 237, 232, 1);
            border-color: rgba(205, 70, 49, 1);
        }

        &--row {
            display: flex;
            flex-direction: row;
        }
    }

    &__text {

        &--row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__title {
        font-size: 27px;
        font-weight: bold;
        text-align: left;
        width: fit-content;

        &--popular {
            display: flex;
            align-items: center;
            font-size: 10px;
            font-weight: bold;
            color: white;
            background-color: #cd4631;
            width: fit-content;
            border-radius: 5px;
            padding: 6px 6px;

        }
    }

    &__description {
        font-size: 16px;
        text-align: left;
        padding-top: 2rem;
    }

    &__price {
        display: flex;
        flex-direction: row;

        &--column-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1.5rem;
        }

        &--orange {
            color: #cd4631;
            font-size: 16px;
            font-weight: bold;
        }

        &--black {
            font-weight: bold;
        }
    }

    &__includes {
        text-align: left;
        font-size: 16px;

        &--label {
            font-weight: bold;
        }

        &--ul {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            margin-top: 1.5rem;
            padding-left: 20px;
        }
    }
}