.custom-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    height: 40rem;
    background-color: rgba(247, 237, 232, 1);
    width: 100%;
    border-top: 1px solid rgba(77, 77, 77, 1);
    gap: 3rem;
    transition: all 0.5s;

    &__primary {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 60%;
        //background-color: white;
        gap: 8rem;

        &__main-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1;
            //background-color: #4d4d4d;
            gap: 2rem;
            color: rgba(77, 77, 77, 1);

            &__logo {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
            }

            &__text {
                text-align: left;

                &__p{
                    //width: 75%;
                }
            }

            &__social {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;

                &__img {
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &__units {
            display: flex;
            flex-direction: column;
            flex: 1;
            //background-color: #b9b2ae;
            text-align: left;

            &__links-block {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 2rem;
                height: 50%;
                font-size: 18px;

                &__link {
                    color: black;
                    width: fit-content;
                    cursor: pointer;

                    &:hover {
                        cursor: pointer;
                        color: rgba(205, 70, 49, 1);
                    }
                }


            }
        }

        &__support {
            display: flex;
            flex-direction: column;
            flex: 1;
            //background-color: #bebab8;
            font-size: 16px;
            color: rgba(77, 77, 77, 1);
            text-align: left;
            gap: 2rem;

            &__images {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;

                &__img {
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    &__underline {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 20%;

        &__line {
            width: 100%;
            color: rgba(77, 77, 77, 1);
        }

        &__text {
            margin-top: 1.3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media (max-width: 1200px) {
    .custom-footer__primary {
        width: 90%;
        transition: all 0.5s;
    }
    .custom-footer__underline {
        width: 90%;
        transition: all 0.5s;
    }
}