.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  //padding-top: 20px;
  width: 100%;

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}